/* Estilos para el encabezado */
.header {
    background-color: #007BFF;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
}

/* Estilos para la barra de navegación */
.nav {
    text-align: center;
}

.nav ul {
    list-style-type: none;
    padding: 0;
}

.nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
}

.nav ul li a:hover {
    text-decoration: underline;
}

/* Estilos para la lista de productos */
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-item {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
}

.product-item h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.product-item button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-item button:hover {
    background-color: #0056b3;
}

/* Estilos para el encabezado */
.header {
    background-color: #007BFF;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    margin: 0;
}

/* Estilos para el logo */
.logo {
    width: 100px; /* Ajusta el tamaño del logo según sea necesario */
    height: auto;
}

/* Estilos para la barra de navegación */
.nav {
    text-align: right;
}

.nav ul {
    list-style-type: none;
    padding: 0;
}

.nav ul li {
    display: inline-block;
    margin-left: 20px; /* Espacio entre los elementos del menú */
}

.nav ul li:first-child {
    margin-left: 0; /* Eliminar el espacio a la izquierda del primer elemento del menú */
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
}

.nav ul li a:hover {
    text-decoration: underline;
}
